@import url(http://fonts.googleapis.com/css?family=Abel);

/* ----------------------------------------- RESET  ----------------------------------------- */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection { background: #b3d4fc; text-shadow: none;}
::selection { background: #b3d4fc; text-shadow: none;}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,canvas,iframe,img,svg,video { vertical-align: middle;}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea { resize: vertical;}
figure{margin: 0;}

/* ----------------------------------------- GENERAL  ----------------------------------------- */
body{
    background: transparent url("../images/bg-body.jpg") repeat right top;
    color: #797979;
    font-family: Cambria;
}

h1{
    color: #1f2128;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
    font-size: 30px;
    margin: 0;
}

p{ margin:0;}

ul{ margin: 0; padding: 0;}

li{list-style: none; float: left;}

#wrapper{}
#wrapper > div{ width: 936px; margin: 0 auto;}

header{ height: 190px;}
header figure{ float: left; margin-right: 20px;}
header div{}
header div h1{ padding-top: 20px;}
header div p{}
header div p b{color: #ed6400;}

#content{}

footer{}
